@charset "UTF-8";
#skip {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#skip li {
  width: 100%;
}

#skip li a {
  display: block;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

#skip li a:focus {
  font-size: 20px;
  line-height: 50px;
}

#wrap {
  z-index: 1;
  position: relative;
  width: 100%;
}

#wrap #header {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 170px;
  top: 0;
  left: 0;
  background: #fff;
  border-top: 5px solid #009223;
  border-bottom: 1px solid #e5e5e5;
}

#wrap #header .container {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

#wrap #header .container .logo {
  width: 202px;
  height: 40px;
  margin: 0 auto;
}

#wrap #header .container .logo h1 {
  width: 202px;
  height: 40px;
  line-height: 107px;
}

#wrap #header .container .logo h1 a img {
  width: 202px;
}

#wrap #header .container #aside {
  width: 175px;
  height: 30px;
  margin: 0 0 0 auto;
  margin-right: 16px;
}

#wrap #header .container #aside ul {
  display: block;
  width: 100%;
}

#wrap #header .container #aside ul li {
  width: 100%;
}

#wrap #header .container #aside ul li a {
  float: left;
  font-size: 13px;
  color: #666666;
  margin: 0 6.5px;
  line-height: 33px;
}

#wrap #header .container #aside ul li i {
  display: block;
  float: left;
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  background: #ddd;
  margin: 13px 5px 0 5px;
}

#wrap #header .container #aside ul li a img {
  float: left;
  width: 30px;
}

#wrap #header .container #nav {
  width: 100%;
  height: 44.78px;
  float: left;
}

#wrap #header .container #nav > ul {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  padding: 20px 93px 0 93px;
}

#wrap #header .container #nav > ul > li {
  float: left;
}

#wrap #header .container #nav > ul > li > .menu-btn {
  display: block;
  padding: 30px 50px;
  font-size: 18px;
  color: #292929;
  font-weight: 700;
  letter-spacing: -1.5px;
}

#wrap #header .container #nav > ul > li > .menu-btn:hover, #wrap #header .container #nav > ul > li > .menu-btn.addHover {
  color: #009223;
}

#wrap #header .container #nav > ul > .sub {
  display: none;
  position: absolute;
  width: 100%;
  top: 165px;
  left: 0;
  margin: 0 auto;
  background: #fff;
}

#wrap #header .container #nav > ul > .sub .sub-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0 0 80px;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul {
  float: left;
  padding: 10px 0;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul:nth-child(1) {
  padding: 20px 70px 25px 65px;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul:nth-child(2) {
  padding: 20px 10px 25px 10px;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul:nth-child(3) {
  padding: 20px 10px 25px 30px;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul:nth-child(4) {
  padding: 20px 10px 25px 20px;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul:nth-child(5) {
  padding: 20px 10px 25px 10px;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul:nth-child(6) {
  padding: 20px 10px 25px 58px;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul > li {
  text-align: center;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul > li > a {
  display: block;
  padding: 8px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 550;
  color: #888;
}

#wrap #header .container #nav > ul > .sub .sub-wrap > ul > li > a:hover {
  color: #009223;
  text-decoration: underline;
}

#wrap #main {
  z-index: 1;
  position: relative;
  width: 100%;
}

#wrap #main #section1 {
  position: relative;
  width: 100%;
  height: 490px;
}

#wrap #main #section1 #slide {
  position: absolute;
  width: 100%;
  height: 440px;
}

#wrap #main #section1 #slide .slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

#wrap #main #section1 #slide .slide-container .slide-view {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

#wrap #main #section1 #slide .slide-container .slide-wrap {
  position: relative;
  width: 700%;
  margin: 0 0 0 -100%;
}

#wrap #main #section1 #slide .slide-container .slide-wrap .slide {
  position: relative;
  width: 1920px;
  float: left;
}

#wrap #main #section1 #slide .slide-container .slide-wrap .slide a {
  display: block;
  width: 1920px;
  height: 440px;
}

#wrap #main #section1 #slide .slide-container .slide-wrap .slide a img {
  width: 1920px;
  height: 440px;
  width: 1920px;
  height: 440px;
}

#wrap #main #section1 #slide .slide-container .page-btn-wrap {
  position: absolute;
  width: 120px;
  bottom: 50px;
  right: 350px;
}

#wrap #main #section1 #slide .slide-container .page-btn-wrap span {
  display: inline-block;
  margin: 0 3px;
}

#wrap #main #section1 #slide .slide-container .page-btn-wrap span a {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section1 #slide .slide-container .page-btn-wrap span a.addPage {
  width: 30px;
  height: 10px;
  background: #ffc300;
  border-radius: 30px;
}

#wrap #main #section1 #quick {
  position: absolute;
  width: 100%;
  height: 80px;
}

#wrap #main #section1 #quick .quick-container {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 410px auto 0 auto;
}

#wrap #main #section1 #quick .quick-container .q-content {
  width: 100%;
  max-width: 600px;
  height: 100%;
  float: right;
}

#wrap #main #section1 #quick .quick-container .q-content .store {
  width: 300px;
  height: 80px;
  background: #ffce32;
  float: left;
  border-radius: 30px 0 0 0;
}

#wrap #main #section1 #quick .quick-container .q-content .store > img {
  display: block;
  width: 24px;
  height: 30px;
  float: left;
  margin: 26px 0 0 90px;
}

#wrap #main #section1 #quick .quick-container .q-content .store > a {
  color: #292929;
  font-size: 22px;
  font-weight: 800;
  float: left;
  margin: 30px 0 0 15px;
  letter-spacing: -1px;
}

#wrap #main #section1 #quick .quick-container .q-content .store > a:hover {
  text-decoration: underline;
}

#wrap #main #section1 #quick .quick-container .q-content .franchise {
  width: 300px;
  height: 80px;
  background: #009223;
  float: left;
  border-radius: 0 0 30px 0;
}

#wrap #main #section1 #quick .quick-container .q-content .franchise > img {
  display: block;
  width: 34px;
  height: 30px;
  float: left;
  margin: 26px 0 0 55px;
}

#wrap #main #section1 #quick .quick-container .q-content .franchise > a {
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  float: left;
  margin: 30px 0 0 13px;
  letter-spacing: -2px;
}

#wrap #main #section1 #quick .quick-container .q-content .franchise > a:hover {
  text-decoration: underline;
}

#wrap #main #section2 {
  width: 100%;
  height: 620px;
}

#wrap #main #section2 .container {
  width: 100%;
  height: 100%;
  max-width: 1874px;
  margin: 0 auto;
}

#wrap #main #section2 .container .menu2 {
  position: relative;
  width: 1170px;
  height: 111px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

#wrap #main #section2 .container .menu2 h2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 77px;
  line-height: 90px;
  padding: 0 0 0 25px;
  background: url(../images/bul_tit.png) no-repeat 0 10px;
  font-size: 40px;
  color: #292929;
  font-weight: 800;
  letter-spacing: -2px;
}

#wrap #main #section2 .container .menu2 .menu2-sw {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

#wrap #main #section2 .container .menu2 .menu2-sw ul {
  float: right;
}

#wrap #main #section2 .container .menu2 .menu2-sw ul li {
  display: inline-block;
  line-height: 105px;
}

#wrap #main #section2 .container .menu2 .menu2-sw ul li a {
  float: left;
  display: block;
  color: #666666;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 700;
}

#wrap #main #section2 .container .menu2 .menu2-sw ul li a:nth-child(1) {
  float: left;
  display: block;
  color: #009223;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 700;
}

#wrap #main #section2 .container .menu2 .menu2-sw ul li i {
  float: left;
  display: block;
  background: #dddddd;
  width: 1px;
  height: 15px;
  margin: 45px 23px 0 23px;
}

#wrap #main #section2 .container .menu-slide {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 320px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 {
  width: 100%;
  max-width: 1874px;
  height: 100%;
  margin: 60px 0 0 0;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 {
  position: relative;
  text-align: center;
  width: 150%;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 > li {
  width: 260px;
  height: 320px;
  display: inline-block;
  margin: 0 17px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 > li > a {
  width: auto;
  height: auto;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 > li > a > img {
  width: 260px;
  height: 182px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 > li > a > img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 > li > a > strong {
  display: block;
  color: #292929;
  font-size: 18px;
  margin: 3px 0 10px 0;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 > li > a > p {
  display: block;
  color: #999999;
  font-size: 13px;
  letter-spacing: -.5px;
  line-height: 20px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap1 > .sw1-2 > a > p {
  letter-spacing: -1px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap2, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap3, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap4 {
  display: none;
  position: relative;
  text-align: center;
  width: 150%;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap2 > li, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap3 > li, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap4 > li {
  width: 260px;
  height: 320px;
  display: inline-block;
  margin: 0 17px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap2 > li > a, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap3 > li > a, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap4 > li > a {
  width: auto;
  height: auto;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap2 > li > a > img, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap3 > li > a > img, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap4 > li > a > img {
  width: 260px;
  height: 182px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap2 > li > a > img:hover, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap3 > li > a > img:hover, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap4 > li > a > img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap2 > li > a > strong, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap3 > li > a > strong, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap4 > li > a > strong {
  display: block;
  color: #292929;
  font-size: 18px;
  margin: 3px 0 10px 0;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap2 > li > a > p, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap3 > li > a > p, #wrap #main #section2 .container .menu-slide .slide-container2 .slide-view .slide-wrap4 > li > a > p {
  display: block;
  color: #999999;
  font-size: 13px;
  letter-spacing: -.5px;
  line-height: 20px;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .prev-btn-box {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 38%;
  left: 0;
  margin: 0 auto 0 10%;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .prev-btn-box .prev-btn {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/icon_event_slider_arr.png) no-repeat 0 0;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .prev-btn-box .prev-btn:hover {
  width: 100%;
  height: 100%;
  background: url(../images/icon_event_slider_arr.png) no-repeat 0 100%;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .next-btn-box {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 38%;
  right: 0;
  margin: 0 10% 0 auto;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .next-btn-box .next-btn {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/icon_event_slider_arr.png) no-repeat 100% 0;
}

#wrap #main #section2 .container .menu-slide .slide-container2 .next-btn-box .next-btn:hover {
  background: url(../images/icon_event_slider_arr.png) no-repeat 100% 100%;
}

#wrap #main #section3 {
  width: 100%;
  height: 790px;
  background: url(../images/bg_content.gif) repeat 0 10%;
}

#wrap #main #section3 .container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0;
}

#wrap #main #section3 .container .sec3-top {
  width: 1280px;
  height: 300px;
  margin: 0 auto;
}

#wrap #main #section3 .container .sec3-top .way {
  position: relative;
  width: 400px;
  height: 300px;
  background: url(../images/bg_utilization.png) no-repeat 0 0;
  margin: 0 0 0 55px;
  float: left;
}

#wrap #main #section3 .container .sec3-top .way p {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -2px;
  top: 38px;
  left: 39px;
  line-height: 40px;
}

#wrap #main #section3 .container .sec3-top .way .way-btn {
  position: absolute;
  width: 96px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  left: 41px;
  bottom: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section3 .container .sec3-top .way .way-btn:hover {
  background: #fff;
}

#wrap #main #section3 .container .sec3-top .way .way-btn span {
  display: block;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 39px;
  font-weight: 600;
  letter-spacing: -1px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section3 .container .sec3-top .way .way-btn span:hover {
  color: #292929;
}

#wrap #main #section3 .container .sec3-top .history {
  position: relative;
  width: 825px;
  height: 300px;
  background: url(../images/img_subway_history.png) no-repeat 0 0;
  float: left;
}

#wrap #main #section3 .container .sec3-top .history p {
  position: absolute;
  color: #fff;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: -2px;
  top: 38px;
  right: 115px;
  line-height: 40px;
}

#wrap #main #section3 .container .sec3-top .history .history-btn {
  position: absolute;
  width: 132px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  right: 284px;
  bottom: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section3 .container .sec3-top .history .history-btn:hover {
  background: #fff;
}

#wrap #main #section3 .container .sec3-top .history .history-btn span {
  display: block;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 39px;
  font-weight: 600;
  letter-spacing: -1px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section3 .container .sec3-top .history .history-btn span:hover {
  color: #292929;
}

#wrap #main #section3 .container .sec3-bottom {
  width: 1280px;
  height: 300px;
  margin: 30px auto 0 auto;
}

#wrap #main #section3 .container .sec3-bottom .news {
  position: relative;
  width: 870px;
  height: 300px;
  background: #fff;
  border-radius: 30px 0;
  margin: 0 0 0 55px;
  float: left;
}

#wrap #main #section3 .container .sec3-bottom .news .news-title {
  position: absolute;
  width: 195.562px;
  height: 130px;
  top: 75px;
  left: 60px;
}

#wrap #main #section3 .container .sec3-bottom .news .news-title h2 {
  display: block;
  width: 200px;
  height: 80px;
  color: #292929;
  font-size: 27px;
  font-weight: 800;
  line-height: 80px;
  background: url(../images/bul_tit.png) no-repeat 0 0;
  padding: 0 0 0 25px;
}

#wrap #main #section3 .container .sec3-bottom .news .news-title p {
  display: block;
  color: #666666;
  font-size: 16px;
  letter-spacing: -1.8px;
  text-align: center;
  line-height: 26px;
}

#wrap #main #section3 .container .sec3-bottom .news .news-list {
  position: absolute;
  width: 400px;
  height: 160px;
  top: 70px;
  right: 80px;
}

#wrap #main #section3 .container .sec3-bottom .news .news-list ul {
  width: 400px;
  height: 100px;
}

#wrap #main #section3 .container .sec3-bottom .news .news-list ul li {
  width: 100%;
}

#wrap #main #section3 .container .sec3-bottom .news .news-list ul li .contents {
  display: block;
  font-size: 15px;
  color: #292929;
  font-weight: 600;
  letter-spacing: -1.0px;
  line-height: 38px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section3 .container .sec3-bottom .news .news-list ul li .contents:hover {
  color: #009223;
  text-decoration: underline;
}

#wrap #main #section3 .container .sec3-bottom .news .news-list .more-btn {
  position: absolute;
  display: block;
  width: 35px;
  height: 17px;
  bottom: 5px;
  color: #999999;
  font-size: 14px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section3 .container .sec3-bottom .news .news-list .more-btn:hover {
  color: #009223;
  font-weight: 600;
}

#wrap #main #section3 .container .sec3-bottom .sponsor {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 0 0 30px;
  float: left;
}

#wrap #main #section3 .container .sec3-bottom .sponsor .spon-wrap {
  width: 100%;
}

#wrap #main #section3 .container .sec3-bottom .sponsor .spon-wrap a {
  width: 100%;
}

#wrap #main #section3 .container .sec3-bottom .sponsor .spon-wrap a img {
  width: 270px;
  height: 300px;
  border-radius: 0 30px;
}

#wrap #main #section3 .container .sec3-bottom .sponsor .spon-wrap span {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 20px;
  right: 50px;
}

#wrap #main #section3 .container .sec3-bottom .sponsor .spon-wrap span .sponsor-btn {
  display: block;
  width: 30px;
  height: 10px;
  background: #ffc300;
  border-radius: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main #section3 .container .sec3-bottom .sponsor .spon-wrap span .sponsor-btn:hover {
  background: #fff;
}

#wrap #main #section4 {
  width: 100%;
  height: 150.19px;
}

#wrap #main #section4 .container {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#wrap #main #section4 .container ul {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

#wrap #main #section4 .container ul .sec4-menu1 {
  width: 220px;
  float: left;
  margin: 0 0 0 30px;
}

#wrap #main #section4 .container ul .sec4-menu1 > a {
  width: 100%;
  display: inline-block;
}

#wrap #main #section4 .container ul .sec4-menu1 > a > .icon1 {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../images/icon_quickmenu.png) no-repeat 0 0;
  float: left;
}

#wrap #main #section4 .container ul .sec4-menu1 > a > strong {
  display: block;
  color: #292929;
  font-size: 18px;
  letter-spacing: -1px;
  margin: 16px 0 0 88px;
}

#wrap #main #section4 .container ul .sec4-menu1 > a > span {
  display: block;
  font-size: 13px;
  color: #999999;
  letter-spacing: -.5px;
  margin: 8px 0 0 88px;
}

#wrap #main #section4 .container ul .sec4-menu2 {
  width: 220px;
  float: left;
  margin: 0 0 0 80px;
}

#wrap #main #section4 .container ul .sec4-menu2 > a {
  width: 100%;
  display: inline-block;
}

#wrap #main #section4 .container ul .sec4-menu2 > a > .icon2 {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../images/icon_quickmenu.png) no-repeat 33.333% 0;
  float: left;
}

#wrap #main #section4 .container ul .sec4-menu2 > a > strong {
  display: block;
  color: #292929;
  font-size: 18px;
  letter-spacing: -1px;
  margin: 16px 0 0 88px;
}

#wrap #main #section4 .container ul .sec4-menu2 > a > span {
  display: block;
  font-size: 13px;
  color: #999999;
  letter-spacing: -.5px;
  margin: 8px 0 0 88px;
}

#wrap #main #section4 .container ul .sec4-menu3 {
  width: 220px;
  float: left;
  margin: 0 0 0 60px;
}

#wrap #main #section4 .container ul .sec4-menu3 > a {
  width: 100%;
  display: inline-block;
}

#wrap #main #section4 .container ul .sec4-menu3 > a > .icon3 {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../images/icon_quickmenu.png) no-repeat 66.666% 0;
  float: left;
}

#wrap #main #section4 .container ul .sec4-menu3 > a > strong {
  display: block;
  color: #292929;
  font-size: 18px;
  letter-spacing: -1px;
  margin: 16px 0 0 88px;
}

#wrap #main #section4 .container ul .sec4-menu3 > a > span {
  display: block;
  font-size: 13px;
  color: #999999;
  letter-spacing: -.5px;
  margin: 8px 0 0 88px;
}

#wrap #main #section4 .container ul .sec4-menu4 {
  width: 220px;
  float: left;
  margin: 0 0 0 30px;
}

#wrap #main #section4 .container ul .sec4-menu4 > a {
  width: 100%;
  display: inline-block;
}

#wrap #main #section4 .container ul .sec4-menu4 > a > .icon4 {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../images/icon_quickmenu.png) no-repeat 99.999% 0;
  float: left;
}

#wrap #main #section4 .container ul .sec4-menu4 > a > strong {
  display: block;
  color: #292929;
  font-size: 18px;
  letter-spacing: -1px;
  margin: 16px 0 0 88px;
}

#wrap #main #section4 .container ul .sec4-menu4 > a > span {
  display: block;
  font-size: 13px;
  color: #999999;
  letter-spacing: -.5px;
  margin: 8px 0 0 88px;
}

#wrap #footer {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 150.95px;
  background: #292929;
}

#wrap #footer .container {
  max-width: 100%;
}

#wrap #footer .container .top {
  width: 100%;
  border-bottom: 0.1px solid #3b3b3b;
}

#wrap #footer .container .top .wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

#wrap #footer .container .top .wrap ul {
  width: 100%;
}

#wrap #footer .container .top .wrap ul li {
  padding: 22px 0;
}

#wrap #footer .container .top .wrap ul li div {
  width: 100%;
}

#wrap #footer .container .top .wrap ul li div span {
  display: inline-block;
}

#wrap #footer .container .top .wrap ul li div span a {
  font-size: 14px;
  color: #666666;
  margin: 0 20px 0 0;
  letter-spacing: -.5px;
}

#wrap #footer .container .top .wrap ul li div span a strong {
  color: #bbbbbb;
  letter-spacing: -.5px;
}

#wrap #footer .container .bottom {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

#wrap #footer .container .bottom .left {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

#wrap #footer .container .bottom .left ul {
  width: 100%;
}

#wrap #footer .container .bottom .left ul li {
  padding: 5px 0;
}

#wrap #footer .container .bottom .left ul li address {
  color: #666666;
  font-size: 13px;
  letter-spacing: -.5px;
}

#wrap #footer .container .bottom .left ul li address i {
  display: inline-block;
  width: 2px;
  height: 10px;
  background: #666666;
  margin: 0 3px;
}

#wrap #footer .container .bottom .left ul li p {
  color: #666666;
  font-size: 13px;
}

#wrap #footer .container .bottom .right {
  position: absolute;
  right: 0;
}

#wrap #footer .container .bottom .right li {
  width: 100%;
  height: 100%;
  padding: 15px 0;
}

#wrap #footer .container .bottom .right li p {
  width: 100%;
}

#wrap #footer .container .bottom .right li p span {
  margin: 0 15px 0 0;
}

#wrap #footer .container .bottom .right li p span a {
  margin: 0 7px;
}

#wrap #footer .container .bottom .right li p span .instagram {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icon_sns_instar.png) no-repeat 0 0;
}

#wrap #footer .container .bottom .right li p span .instagram:hover {
  background: url(../images/icon_sns_instar.png) no-repeat 100% 0;
}

#wrap #footer .container .bottom .right li p span .facebook {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icon_sns_facebook.png) no-repeat 0 0;
}

#wrap #footer .container .bottom .right li p span .facebook:hover {
  background: url(../images/icon_sns_facebook.png) no-repeat 100% 0;
}

/* 써브웨이 메인로고 */
/* 로그인창 */
/* 메인메뉴 */
/* 서브메뉴 */
/* 메인 슬라이드 */
/* 페이지 버튼 */
/* 매장찾기 & 가맹신청문의 */
/* 매장찾기 버튼 */
/* 가맹신청문의 버튼 */
/* 써브웨이 샌드위치 메뉴 글씨 */
/* 써브웨이 샌드위치 메뉴 종류 버튼 */
/* <<< 써브웨이 샌드위치 슬라이드 >>> */
/* 클래식 샌드위치 슬라이드 */
/* 프레쉬&라이트 샌드위치 슬라이드 */
/* 프리미엄 샌드위치 슬라이드 */
/* 아침메뉴 샌드위치 슬라이드 */
/* 이전 버튼 */
/* 다음 버튼 */
/* 써브웨이를 제대로 즐기는 방법 */
/* 써브웨이 역사 */
/* 써브웨이의 다양한 소식 */
/* 써브웨이 협찬 드라마 */
/* 프랜차이즈 */
/* 지사안내 */
/* 광고영상 */
/* 고객문의 */
/* 개인정보처리방침 */
/* 주소 */
/* SNS */
